.table-type-a {
  table-layout: fixed;
}
.table-type-a tr {
  border-bottom: 1px solid #e6e6e6;
}
.table-type-a th {
  padding: 4px;
  border-right: 1px solid #e6e6e6;
  text-overflow: ellipsis;
  overflow: hidden;
}
.table-type-a td {
  text-align: center;
  padding: 4px;
  border-right: 1px solid #e6e6e6;
  text-overflow: ellipsis;
  overflow: hidden;
}

td {
  text-align: center;
}
